In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv("dataSet/a01c26dcd27711ea/Dataset/train.csv")
test_df = pd.read_csv("dataSet/a01c26dcd27711ea/Dataset/test.csv")

In [3]:

colorType_df = pd.get_dummies(train_df.color_type, prefix='color_type')
train_df

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,Tricolor,0.44,27.36,0,1,0.0,2
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,NaN,Brown,0.73,14.25,15,4,2.0,4
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,Calico Point,0.99,28.13,13,9,1.0,1
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,Tan,0.55,44.82,13,9,1.0,2
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,Brown,0.86,37.40,0,1,1.0,2

In [6]:
train_df = train_df.drop(['color_type'], axis=1)
train_df

,pet_id,issue_date,listing_date,condition,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,0.50,11.06,18,4,0.0,1
...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,0.44,27.36,0,1,0.0,2
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,NaN,0.73,14.25,15,4,2.0,4
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,0.99,28.13,13,9,1.0,1
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,0.55,44.82,13,9,1.0,2
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,0.86,37.40,0,1,1.0,2

In [8]:
#result = pd.concat([df1, df4], axis=1, sort=False)
train_df = pd.concat([train_df,colorType_df], axis=1, sort=False)
train_df

,pet_id,issue_date,listing_date,condition,length(m),height(cm),X1,X2,breed_category,pet_category,...,color_type_Silver Lynx Point,color_type_Silver Tabby,color_type_Tan,color_type_Torbie,color_type_Tortie,color_type_Tortie Point,color_type_Tricolor,color_type_White,color_type_Yellow,color_type_Yellow Brindle
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,0.80,7.78,13,9,0.0,1,...,0,0,0,0,0,0,0,0,0,0
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,0.72,14.19,13,9,0.0,2,...,0,0,0,0,0,0,0,1,0,0
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,0.15,40.90,15,4,2.0,4,...,0,0,0,0,0,0,0,0,0,0
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,0.62,17.82,0,1,0.0,2,...,0,0,0,0,0,0,0,1,0,0
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,0.50,11.06,18,4,0.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,0.44,27.36,0,1,0.0,2,...,0,0,0,0,0,0,1,0,0,0
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,NaN,0.73,14.25,15,4,2.0,4,...,0,0,0,0,0,0,0,0,0,0
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,0.99,28.13,13,9,1.0,1,...,0,0,0,0,0,0,0,0,0,0
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,0.55,44.82,13,9,1.0,2,...,0,0,1,0,0,0,0,0,0,0
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,0.86,37.40,0,1,1.0,2,...,0,0,0,0,0,0,0,0,0,0

In [9]:
X = train_df.drop(['breed_category', 'pet_category'], axis=1)
y_breedcateory = train_df['breed_category']
y_petcateory = train_df['pet_category']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y_breedcateory, test_size=0.33, random_state=42)

In [11]:
X_train

,pet_id,issue_date,listing_date,condition,length(m),height(cm),X1,X2,color_type_Agouti,color_type_Apricot,...,color_type_Silver Lynx Point,color_type_Silver Tabby,color_type_Tan,color_type_Torbie,color_type_Tortie,color_type_Tortie Point,color_type_Tricolor,color_type_White,color_type_Yellow,color_type_Yellow Brindle
10638,ANSL_58528,2016-07-11 00:00:00,2016-10-08 17:36:00,1.0,0.34,26.98,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2171,ANSL_51427,2010-02-03 00:00:00,2019-03-11 12:25:00,1.0,0.14,41.35,13,9,0,0,...,0,0,0,0,0,0,1,0,0,0
14209,ANSL_71529,2014-08-14 00:00:00,2016-09-11 14:29:00,2.0,0.08,28.95,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
3604,ANSL_61455,2010-04-20 00:00:00,2017-05-11 12:34:00,1.0,0.18,27.89,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
14233,ANSL_63730,2009-08-20 00:00:00,2017-09-13 17:35:00,2.0,0.09,41.21,13,9,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,ANSL_50486,2016-10-23 00:00:00,2017-01-11 11:50:00,2.0,0.71,19.36,13,9,0,0,...,0,0,0,0,0,0,0,0,0,0
11964,ANSL_50827,2014-07-01 00:00:00,2018-03-23 16:01:00,1.0,0.89,5.48,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
5390,ANSL_61235,2018-03-16 00:00:00,2019-01-18 14:27:00,0.0,0.57,41.61,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
860,ANSL_60611,2018-07-14 00:00:00,2018-10-29 13:22:00,0.0,0.83,14.00,7,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15795,ANSL_66688,2016-10-14 00:00:00,2017-11-20 18:43:00,1.0,0.30,24.55,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
y_train

10638    0.0
2171     0.0
14209    0.0
3604     0.0
14233    0.0
        ...
11284    0.0
11964    0.0
5390     1.0
860      1.0
15795    0.0
Name: breed_category, Length: 12618, dtype: float64

In [17]:
from keras.models import Sequential

ModuleNotFoundError: No module named 'keras'